.App {
  padding: 50px;
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-language li {
  display: inline-block;
  list-style: none;
  margin-right: 2px;
}

.result li:not(:last-child)::after {
  content: ",";
}

.card {
  border: solid 1px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 10px;
  padding: 5px;

}

.card-avatar img {
  width: 40px;
  border-radius: 50%;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-language ul {
  padding-inline-start: 0px;
}
